[2014-11-06 19:44] n3roGit opened #1 "How to use "Fritz!Box guest WLAN" device?"
can you explain it?

[2014-11-06 20:05] n3roGit commented on #1
i use:

{
      "id": "FritzWlan",
      "name": "FritzWlan",
      "class": "FritzWlan",
      "interval": 120
    }

But i can only activate it. disable is not working..

[2014-11-12 07:39] andig commented on #1
Which FB/ firmware are you using?

[2014-11-12 08:19] n3roGit commented on #1
i use:

FRITZ!Box 6360 Cable (kdg)
FRITZ!OS 06.05

[2014-11-12 09:46] andig commented on #1
This seems to be a problem with the 6360 and/or fw version. Workaround: set a timeout for the guest wlan so it disables itself. Wontfix for now, sorry.

[2014-11-12 11:04] n3roGit commented on #1
Ohh ok.
i use this workaround already ;)

THX You!

[2014-12-28 12:41] RenGro opened #2 "Enhancement: add temp reading of fritz box"
Hi Andig,

first of all: it's a really nice plugin to control Fritz!Dect by Pimatic.
State, power and energy attributes are working fine.
Since some weeks Fritz!Dect is able to measure and display the temperature within offical firmware.

Would you be able to enhance your plugin, so that the temperature could also be used within Pimatic?

Thanks in advance
RenGro

[2014-12-28 16:51] andig commented on #2
Will do asap. Do you by chance have a pointer to the current api docs?

[2014-12-28 17:31] RenGro commented on #2
Hi Andig,

Sounds great!

But I cannot understand your question :-(

Maybe you can write in German :-)

Von meinem iPad gesendet

[2014-12-28 18:59] andig commented on #2
Ich finde bei Avm keine Doku wie die Temperatur auszulesen ist?

[2014-12-28 20:29] RenGro commented on #2
Hi,
 
habe Google mal gequält und auch nicht wirklich viel Infos gefunden.
 
Über http://www.tdressler.net/ipsymcon/fritz_aha.html bin ich auf die AVM Schnittstellendokus gestoßen.
Und dort steht, dass über getdevicelistinfos die Temperatur ausgelesen werden kann (mittels AHA HTTP Interface)
 
Grüße
René
 
-----Original-Nachricht-----
Betreff: Re: [pimatic-fritz] Enhancement: (#2)
Datum: Sun, 28 D

[2015-02-25 19:37] Raphaellll opened #3 "Aktive Verbindungen abfragen"
Ich würde mich freuen wenn das Plugin dahingehend erweitert wird, wenn man abfragen könnte welche devices gerade aktiv sind im wlan.
damit lässt sich dann realisieren dass sich z.b. die lichter abschalten, wenn man das haus (mit smartphone in der tasche) verlässt

[2015-02-25 19:41] n3roGit commented on #3
I like. Aber das könntest du auch mit ping devices machen

[2015-02-25 22:57] raphael-sch commented on #3
naja aber die ip kann sich ja ändern, und der name(bzw mac adresse) innerhalb der fritzbox bleibt ja gleich

Edit: ok hab mir das plugin mal genauer angeschaut. das basiert ja auf so ner neuen api für smart home, die nur diese beiden funktionen unterstützt. denke aber es gibt noch eine allgemeinere api für die fritz boxen, die umfangreichere funktionen unterstützt

Edit2: Stichwort: TR-064

Edit3:

[2015-02-26 10:09] andig commented on #3
Good suggestion. Better than screen scraping. The docs are actually here: http://avm.de/service/schnittstellen/

I'll take a look when I find some spare time...

[2015-03-01 17:03] andig commented on #3
Unfortunately https://github.com/hendrikw01/tr-064 is not on npm yet and seems pretty much dead

[2015-06-04 06:11] fichte5 opened #5 "Fehler bei Verbindung zu FritzDECT"
Hi Andreas,
what a cool pimatic-plugin to control the FritzDECT devices, but I can't connect to my DECT devices.
What I have done:
- Create a new user for Fritzbox
- Check the possibility to connect for this new user by Myfritz.net (Login ok on Fritzbox event list, device are listet on MyFritz GUI with state and AIN)
- load current pimatic-fritz Plugin in plugins[] of config.json
    {
      "plug

[2015-06-04 08:43] andig commented on #5
I'm not using Myfritz, but is it possible that myfritz and the fritzbox use different credentials? Are you able to login to the box itself using `name/pw`?

[2015-06-04 20:28] fichte5 commented on #5
Perfect hint, my Fritzbox was configured for local login only by password.
Now it is working.
Another question: Is it possible to extend the plugin functionality to track also the temperature of Fritz!Dect200 devices? I have found details for AHA API on http://www.tdressler.net/ipsymcon/fritz_aha.html
Tnx a lot, Andi!

[2015-06-04 21:30] andig commented on #5
Yes, the smartfritz-promise library at https://github.com/andig/smartfritz already supports that.

Don't have any time though, feel free to submit a pr.

[2015-06-04 21:30] #5 closed

[2015-06-04 21:38] andig commented on #3
_Update_ lib is on npm now so this seems doable.

[2015-06-06 11:30] mwittig commented on #2
According to http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/AHA-HTTP-Interface.pdf the temperature can only be read using the "getdevicelistinfos" method. As this method also provides switch state, power, energy values, an update can now be obtained with a single fritzcall rather than performing three calls per update cycle. However, as "getdevicelistinfos" returns XML I had to

[2015-06-06 11:51] andig commented on #2
Thank you for this PR!

[2015-06-06 11:51] #2 closed

[2015-06-08 13:06] leader21 opened #7 "No values anymore after update"
After the update to ver. 0.2.3 Pimatic doesn't get any values anymore.
I'm using the DECT200 with the Actor version no. 3.37.
My Fritzbox is a 6360 from Unitymedia with Firmware 6.04
I can switch the outlet on and off with Pimatic without any issue!  It's only the values that do not appear.

Gui :
![](http://www.youscreen.de/rahfdnbv46.jpg)

Variables :
![](http://www.youscreen.de/albjuzou77.jpg)

[2015-06-08 14:04] andig commented on #7
For the time being please downgrade to 0.2.2.

[2015-06-08 15:16] mwittig commented on #7
Can you please check if you have the latest Fritz!OS firmware installed - According to what I have found on the AVM website a newer version  FRITZ!OS 6.20 or higher should be available.

NB: According to the AVM interface documentation the API is supported since  FRITZ!OS 6.00. However, possibly, the early 6.0x versions have some undocumented limitations or bugs.

[2015-06-08 16:06] andig commented on #7
He is running 6.04 which should be sufficient.

You've mention the code would fallback to the old method (which I didn't check honestly while being on the road). I'm afraid I'll have to roll back unless we can find a better solution.

[2015-06-08 16:30] mwittig commented on #7
Sorry, for the misunderstanding. May be my wording was a bit misleading. Let's wait for reply from @leader21 I think the the Fritz!OS version he is using is outdated - if not or @leader21 is not able to upgrade for other reasons, I am happy to implement a fallback solution.

[2015-06-08 18:40] leader21 commented on #7
Sorry I cannot update the OS myself since this is a special version from my VDSL provider Unitymedia.
Therefore I need to stay on the OS until they decide to update it with newer verions of their own.
There isn't even an update button, they do it all automatically on remote.

[2015-06-08 19:03] mwittig commented on #7
Too bad, AVM no longer provides offline updates. In the past it was relatively easy to remove the OEM-branding and to use the plain vanilla firmware which typically worked without problems - cable modems may be a different story, however.

For your case I have added the "legacyMode" for now to get you going (see https://github.com/mwittig/pimatic-fritz/blob/master/README.md). Note, however, @andig

[2015-06-08 20:23] andig commented on #7
Merged and upped version number, please give it a try. If this doesn't i'll back out the change.

[2015-06-08 21:13] leader21 commented on #7
even if avm would provide any offline firmware updates, i wouldn't be able to bring it into the fbox without any update menu.

updated the plugin to 0.2.4 but still the same issue. sorry to tell you.

[2015-06-08 21:40] mwittig commented on #7
Did you set "legacyMode" = true as described in the README? This will execute the same code for attribute update as v0.2.2

[2015-06-08 21:47] leader21 commented on #7
oha! totally missed that!! will try immediately!

[2015-06-08 21:54] leader21 commented on #7
works!!! sorry, i haven't seen the new option on the readme.
i just set the legacy mode to true and all is good :)
as you described - no temp readings but i'll wipe them with the xattributeoptions.
thanks!!

[2015-06-08 21:58] mwittig commented on #7
OK, great :)

[2015-06-08 22:12] #7 closed

[2015-06-09 22:06] archipita commented on #7
mwittig,
I am sorry to append my note here, as the issue is closed, but I have exactly the same problem as leader21 since the last plugin update.
I am using a 7390 with OS 06.23 and the plugin release 0.2.4.
I have tried both without setting the new legacyMode variable and setting it to false, as in my case the temperature should be available.
Previously has worked perfectly for months.
Any hint?

[2015-06-09 22:43] mwittig commented on #7
Strange, I have the same model with the same firmware!

Can you please send the log (with debug level enabled), Thanks! Does switching works for you? If not, this must be a different problem!

[2015-06-10 15:42] TomLil commented on #7
I have also no values after update, using latest plugin 0.2.4, 7330 with 06.21 firmware. here the debug output (I masked some numbers of the IDs to xxx):

17:32:18 debug [pimatic-fritz]: [ { identifier: '08761 xxxxxxx', id: '16', functionbitmask: '896', fwversion: '03.37', manufacturer: 'AVM', productname: 'FRITZ!DECT 200', present: '1', name: 'Spitzboden', switch: { state: '0', mode: 'manuell', l

[2015-06-10 16:07] mwittig commented on #7
@TomLil Does switching the plugin on and off work for you? Have you tried to set the 'legacyMode' yet?

[2015-06-10 16:52] andig commented on #7
By https://github.com/andig/pimatic-fritz/pull/9 I've backed out the faulty merge. As long as you don't update to 0.2.5 you're welcome to continue testing/fixing the problems and I'd be happy to accept another PR once we can get confirmation this works. I'll keep this issue open for that purpose.

[2015-06-10 18:07] archipita commented on #7
@mwittig
Yes, the switch on/off is working, but the plugin is not reading the initial state correctly (i.e. it starts always with the state off).

Here are the logs of the plugin:

[code]

I can keep the 0.2.4 for the time being and support you making some tests if you want (in the evening CET :)).

[2015-06-10 18:20] mwittig commented on #7
Thank you @archipita
I'll keep you posted as soon as I have a fix to trial.

@TomLil would be great if you also can help with testing a fix as soon as it'll be available :)

[2015-06-10 21:40] mwittig commented on #7
@archipita and @TomLil could you please test https://github.com/mwittig/pimatic-fritz ?

Assuming you're running pimatic on raspberry pi you can install the fork as follows:
- Login into the system using ssh or the console
- Make sure you have git installed by typing the git command, if it is not installed "sudo apt-get install git" should do
- Change to the pimatic-app/node_modules directory
- Re

[2015-06-11 18:54] archipita commented on #7
@mwittig
Yep, I am running pimatic on a Raspberry PI :)

Just tested with the procedure you have suggested... it seems to be working now!

![pimatic-fritz](https://cloud.githubusercontent.com/assets/10539311/8115191/e737e8c8-1079-11e5-899d-0c7b1c83377e.JPG)

It says however that it is the release 0.2.2

[code]

[2015-06-11 19:41] mwittig commented on #7
@archipita Sounds great! Thank you very much for trying! There is a PR for this already in the loop, but as @andig pointed out it is not in sync with latest changes he did on master. So, I'll prepare a new PR tomorrow.

[2015-06-11 21:00] archipita commented on #7
@mwittig Just checked again to be sure... it is OK: it reports the current status correctly (switched off) and still the overall power consumption and the current temperature.

![pimatic-fritz 2](https://cloud.githubusercontent.com/assets/10539311/8118150/958e3b62-108d-11e5-87f4-4ed351e5fe49.JPG)

[2015-06-13 11:31] archipita commented on #7
@mwittig I have just installed the official release 0.2.5 (removed the clone before) and the plugin seems not to be fully OK: the temperature it is not displayed anymore (was OK in the test version).

![pimatic-fritz_3](https://cloud.githubusercontent.com/assets/10539311/8144181/ca22d75a-11cf-11e5-9c81-c2af477b793e.jpg)

I have found also this in the logs:

[code]

I cannot see anymore the logs of

[2015-06-13 12:53] mwittig commented on #7
@archipita actually, v0.2.5 is a roll-back to the code base of v0.2.2 which did not support temperature readings. Hopefully, @andig will publish a new version soon. EDIT: OK, this may be confusing as my code you tested also showed v0.2.2. This is, because I started development based on v0.2.2 and only the maintainer will bump the version number when a new version of the npm package gets released.

[2015-06-14 11:00] archipita commented on #7
@mwittig I made some further tests in the mean while: in general the plugin behaves correctly, beside the point on the missing temperature (which would be nice to get back :)), the logs not showing the details (not really an error) and the error message.
This error message is however coming out only once at the (re)start, not by every polling. Maybe it is a matter of re-initialization.
If I put th

[2015-11-06 16:36] andig commented on #3
@Raphaellll could you look at TR64 and let me know which information you're interested in? Or rather: does this need to be a part of this module? You can use the npm tr64 lib on its own.

[2015-11-06 16:38] #1 closed

[2015-11-06 16:40] andig commented on #7
I've added a temperaturesensor to the plugin that will be able to read temps of both switches and thermostats.

[2015-11-07 09:58] #3 closed

[2015-11-07 13:46] mwittig opened #15 "error [pimatic-fritz]: Cannot access undefined: undefined"
If my Fritz-DECT is not plugged-in I get the following error: error [pimatic-fritz]: Cannot access undefined: undefined. Apparently the frtz function does not return an error object as expected. Supposedly this is a bug in smartfritz-promise. I have tested with pimatic-fritz 0.3.0 plus patch published in PR #14

[2015-11-07 13:46] mwittig opened #16 "error [pimatic]: Cannot find module 'smartfritz-promise'"
I have installed pimatic-fritz 0.3.0
The following message is output in the log on pimatic startup:
error [pimatic]: Cannot find module 'smartfritz-promise'

See PR #14

[2015-11-07 14:31] n3roGit commented on #16
Here the same after Update:

15:28:00.385 [pimatic] info: Starting pimatic version 0.8.93
15:28:38.405 [pimatic] error: Cannot find module 'smartfritz-promise'
15:28:42.806 [pimatic] warn: no plugin found for device "FritzWlan" of class "FritzWlan"!

Full delete of the Plugin and reinstall dont fix the problem

[2015-11-07 15:02] andig commented on #16
Check the source of the installed module- is the fix in?

[2015-11-07 15:03] andig commented on #16
Raised the version number to force update.

[2015-11-07 15:04] n3roGit commented on #16
Yes just downloaded direct from github. But no effect :(

EDIT:
After update via pimatic it works!!!!!

[2015-11-07 16:45] andig commented on #16
Any chance to get ssh/http access to your pumatic via pm?

[2015-11-07 16:46] andig commented on #15
Smartfritz always returns a promise. Could you give a line number for the error message, possibly using development mode?

[2015-11-07 17:32] mwittig commented on #15
I have slightly modified the log outut locally to get the name of the fritzFunction. You should be able to reproduce the error by simply unplugging a registered DECT200.

[code]

[2015-11-07 17:38] mwittig commented on #16
@n3roGit @andig

With version 0.3.1 (installed via pimatic frontend) it works fine for me now.

[2015-11-08 14:44] #16 closed

[2015-11-08 14:47] andig commented on #15
Ok, this seems to happen here: https://github.com/andig/smartfritz/blob/master/smartfritz.js#L350

I assume you have the FritzBox running but not a single device attached? Need to look into that constellation.

Could you provide some debug output for me:

[code]

right before that line?

[2015-11-08 14:49] mwittig commented on #15
Yes, exactly. I only have a single smart plug to play with

[2015-11-08 14:53] andig commented on #15
Please see update above. I've also added a testing branch for you, see https://github.com/andig/smartfritz/blob/fix-no-devices/smartfritz.js

[2015-11-08 19:38] mwittig commented on #15
Regarding the requested log output I had use console.log as I placed the statement inside the getDeviceListInfoArray. Btw, I notice the exception orccurred regardless of whether or not DECT 200 was plugged in.

[code]

[2015-11-08 20:02] mwittig commented on #15
Another thing I've noticed: If DECT 200 is unplugged and it is switch in pimatic no error message is given. Should I create another issue for this one?

[2015-11-09 08:12] andig commented on #15
Yes please. Wondering if it should be an error or just be updated back to its previous state. The latter should already be working.

So what is the status on the issue above? Looking at the debug output I don't think that `arrayNotation` would be the right thing. When you're saying

it's still configured in FritzOS, right?

[2015-11-09 08:48] archipita commented on #7
@andig this sounds very good!
Is there a description for it? I could not find the info on the plugin site.
I have installed the 0.3.1 and cannot see that part.

[2015-11-09 09:15] andig commented on #7
Look here: https://github.com/andig/pimatic-fritz/blob/master/device-config-schema.coffee#L60
The description is not quite right. As it uses the `getDeviceListInfo` api it will work for thermostats as well as outlets.

[2015-11-09 09:16] mwittig opened #17 "Switch turns to new state without error if DECT 200 is unplugged"
If DECT 200 is unplugged and it is switch in pimatic no error message is given.

@sweetpi may correct me if I am wrong: I think it should be rejected with an error message **string**. This way, the error message string gets displayed in an error dialog box. This is behaviour implemented by pimatic-sispmctl for example.

[2015-11-09 09:22] mwittig commented on #15
See my comment on the new issue "Switch turns to new state without error if DECT 200 is unplugged".

Yes, it is still configured and thus, the devicelist alway contain one device in my setup. Please also note in this context (as mentioned earlier), the exception is always thrown (without  `arrayNotation`) regardless of whether or not the DECT 200 is plugged in. So you may be able to reproduce the

[2015-11-09 10:25] andig commented on #15
Exactly. I'll build a testcase and fix.

[2015-11-09 10:34] andig commented on #17
Could you check if this works for you:

[code]

[2015-11-09 10:41] andig commented on #17
Or rather, this would still be wrong. The two states could incidentally match. But checking device presence with each call also feels kinda overkill.

I'm leaning towards wontfix, maybe with a workaround of exposing the switches presence state?

[2015-11-09 10:44] cm86 opened #18 "error [pimatic]: rule heizung-aus error executing an action: Cannot call method 'then' of undefined"
If I want to set the temperature in control on a certain level, I get an error message.
The Message Log can be seen, however, that it sets the temperature.
Here then by:
debug [pimatic-fritz]: setTempTarget http://fritz.box, xxxxxxx, xxxxxxx

The error message via the Message Log

error [pimatic]: rule heizung-an error executing an action: Cannot call method 'then' of undefined

debug [pimatic]: T

[2015-11-09 11:36] andig commented on #18
Should be fixed: https://github.com/andig/pimatic-fritz/commit/1a804db97f177437a67d3e6c673a9096e6155800

[2015-11-09 11:36] #18 closed

[2015-11-09 11:41] mwittig commented on #17
Well, this is new to me. I don't think we have such concept for switches right now.
Shouln't "setSwitchOn" else "setSwitchOff" fail if it can't be switched?

Well, I am not sure about the previous behaviour. Need to test with an earlier version.

[2015-11-09 11:46] andig commented on #17
Mhm. Then I'd probably rather move this to the actual smartfritz library- same behaviour for all `set...` functions?

[2015-11-09 16:04] andig commented on #15
Fixed via https://github.com/andig/smartfritz/commit/1dfafef8f45b2c9ca75a45116da284b67537db44 in 0.4.2 of smartfritz.

[2015-11-09 16:43] mwittig commented on #17
Well, may be this can be done easier. Take the `setswitchon` method for example, see https://github.com/andig/smartfritz/blob/master/smartfritz.js#L230-L235 The inner block already tests if the result body contains `1`. Couldn't this be used to reject the promise if `false`? I'll also do some testing to find out what will be returned in case. What I have in mind si something like the following (ps

[2015-11-14 09:33] #15 closed

[2015-11-14 09:34] andig commented on #17
Could you check what `getState` returns after you `setswitchon/off` to a state that cannot be set due to missing device?

[2015-11-16 17:47] mwittig commented on #17
Hi, I have added the following code as part of the `@plugin.fritzCall?` promise in the changeStateTo method. As a result, "newState" is always "false" if the plug is unplugged.

I have create a pull request for testing.

[code]

[2015-11-19 08:09] andig commented on #17
@mwittig I have now added code that checks if new state equals desired state. PR no longer necessary?

[2015-11-19 09:25] mwittig commented on #17
@andig The PR was for testing, only. You can reject it.

I'll test your master code asap.

[2015-12-22 14:44] #17 closed

[2016-02-10 19:01] thost96 opened #20 "Unhandled rejection Error: [object Object]"
I have added pimatic-fritz to my config for switching guest wifi on and off. Now i'm getting this error:
[code]

here is my fritz plugin config:

[code]

What is causing this rejection?

[2016-02-10 20:40] andig commented on #20
Dunno. Could you try print the error object?

[2016-02-10 20:42] cm86 commented on #20
Oh i think it's the firmware of your box. Guest-Wlan is not working with the actual firmware.
ehm in pimatic i meant.
Mit freundlichen Grüßen
Chris

[2016-02-11 16:21] thost96 commented on #20
@cm86 thats could be the reason. i have a fritzbox 7490 with firmware 6.51

[2016-02-11 18:37] cm86 commented on #20
I think i habe read about the issue in the Pimatic Forum.

[2016-04-06 18:53] Wikibear opened #21 "Guest WLAN error"
With the new Fritz OS Version there is an error:

https://forum.pimatic.org/topic/1355/pimatic-fritz-guest-wlan-not-working

[2016-04-06 19:25] andig commented on #21
Guest wlan was ubfortunately never stable. Best thing would be to urge AVM support to provide an API for it. The current solution is crap :(

Sorry,
Andi

[2016-05-07 16:54] Alphascrypt commented on #20
Same Problem FritzBox 7390 version 6.51.

`Unhandled rejection Error: [object Object]
    at Object.ensureErrorObject (/home/pi/pimatic-app/node_modules/pimatic/node_modules/bluebird/js/main/util.js:261:20)
    at Promise._rejectUncheckedCheckError (/home/pi/pimatic-app/node_modules/pimatic/node_modules/bluebird/js/main/promise.js:657:22)
    at Promise._settlePromise (/home/pi/pimatic-app/node_mo

[2016-05-07 17:49] andig commented on #20
Gibts Testcode zum reproduzieren?

Viele Grüße,
Andreas

[2016-05-07 17:51] andig commented on #20
Ps.: if its with the guest wlan functions I'm sorry- wontfix unless smbd wants to contribute a patch.

Viele Grüße,
Andreas

[2016-05-07 17:56] Alphascrypt commented on #20
Hast schnell geantwortet, super.
Nein dies ist einfach der der startprozess wenn ich das fritz plugin mit laden lasse. Sobald ich ein DECT Thermostat hinzufüge startet die Pimatic nicht mehr und schreibt mir das: `Invalid config: Missing property "rule,active,logging" in /rules/2, Property "class" is not a valid property in /rules/2, Property "ain" is not a valid property in /rules/2
`

[2016-05-07 19:00] andig commented on #20
Mhm- aber die rules werden egtl. Nicht vom Plugin gemanagt. Mach bitte einen Fehler mit der Rule bei pimatic auf, gerne hier verlinken.

[2016-05-07 20:28] andig commented on #20
@cm86 when do you get that error?

[2016-05-07 20:34] cm86 commented on #20
Hmm, ich habe aktuell keine Probleme mit deinem Plugin.
Guest-Wlan nutze ich nicht. Von daher kann ich hier nicht helfen.
Hatte es am Anfang mal versucht, nutze es aber wie gesagt nicht.

Hmm, actually i have no problems with your plugin.
I don't use the Guest-Wlan. So i can't help here so much.
Just tried at the beginning, but i'm not using it.

mfg
Chris

[2016-05-07 20:36] Alphascrypt commented on #20
Der Fehler kommt sofort beim starten. Ich kann mir das nicht erklären.

The error comes directly on startup.

[2016-05-07 23:34] Alphascrypt commented on #20
The thief is the new FritzOS 6.51 can u fix this problem with the new version?

[2016-05-08 03:38] andig commented on #20
@Alphascrypt Du hast zwei Fehlermeldungen angegeben. Wann kommt welche?

[2016-05-08 07:37] Alphascrypt commented on #20
@andig Hallo, zuerst kommt diese direkt nach der Datumsanzeige von pimatic beim start:
`Invalid config: Missing property "rule,active,logging" in /rules/2, Property "class" is not a valid property in /rules/2, Property "ain" is not a valid property in /rules/2`

Nach dem html rendering kommt diese meldung:
`Unhandled rejection Error: [object Object] at Object.ensureErrorObject (/home/pi/pimatic-ap

[2016-05-08 07:59] andig commented on #20
Ok. Ich frag zum 3. mal ;) Hast Du zumindest für die erste Meldung einen Fehler bei Pimatic aufgemacht? Einschl. Deiner definierten Regeln? Ggf. ist der zweite nur ein Folgefehler.

[2016-05-08 08:05] Alphascrypt commented on #20
Hallo, ja zu finden unter : [Pimatic Forum](https://forum.pimatic.org/topic/729/new-plugin-for-ip-camera-snapshot/56)

[2016-05-08 08:24] Alphascrypt commented on #20
Ja gerade eben : [Pimatic forum](https://forum.pimatic.org/topic/1355/pimatic-fritz-guest-wlan-not-working/10)

[2016-05-08 08:41] Alphascrypt commented on #20
Ok ich habe den Fehler gefunden.

In der neuen FritzBox version ab 6.50 muss die Anmeldung mit Benutzer und Passwort aktiviert werden. danach zieht er sich alle Informationen.

![fritz](https://cloud.githubusercontent.com/assets/14818899/15096824/12d08ae6-1509-11e6-97b7-7d274478536b.png)

[2016-05-08 08:43] andig commented on #20
Welches Setting hattest Du vorher? Würde das gerne testen um zumindest eine sinnvolle Fehlermeldung ausgeben zu können.

[2016-05-08 08:55] Alphascrypt commented on #20
Ich hatte zuerst Anmeldung mit dem FritzBox-Kennwort. Vor dem update auf 6.51 lief dies auch ohne Probleme.

Das könntest du in deiner Doku als wichtigen Punkt hinterlegen.

[2016-05-08 13:47] andig commented on #20
Kann ich nicht bestätigen. Ich habe eben auf 6.51 aktualisiert und verwende weiterhin nur Kennwort. Funktioniert wunderbar. Wie hattest Du denn die config.json eingestellt?

[2016-05-08 13:52] Alphascrypt commented on #20
hier is der auszug der erforderlichen punkte:

Plugins:
 {
      "plugin": "fritz",
      "url": "http://192.168.178.1",
      "user": "admin",
      "password": "xxxx",
      "interval": 60
    },

Device:
{
      "id": "thermostat-1",
      "name": "Heizung Balkon",
      "class": "FritzThermostat",
      "ain": "xxxxxxxxxxxxx",
    },
    {
      "id": "temp-1",
      "name": "Wohnzimmer Temp."

[2016-05-13 10:34] Man-in-Black opened #24 "DECT200 not showing temperature"
Hi,

I've read the other issues, but none of them gives me a hint how to fix it.

I use pimatic@0.8.107 with the pimatic-fritz@0.3.3

I've never seen the temperatur within pimatic.

Is the visibility of the temperature actual disabled?
Is there a way to show the temperature?

Thank you.

Kind regards

Man-in-Black

[2016-05-13 12:59] andig commented on #24
Look here https://github.com/andig/pimatic-fritz/blob/master/device-config-schema.coffee#L64 did you configure an additional temperature sensor with the same AIN?

[2016-05-13 19:23] Man-in-Black commented on #24
Yes I tried this already,
But it only says "unknown" als value for the temperature

[2016-05-13 20:20] andig commented on #24
Mhm. Does setting the semperature work? Any errors in the logfile or on the console?

[2016-05-13 20:53] Man-in-Black commented on #24
I hope we are talking about the same problem :-)

I'm using the DECT200, the power plug, not the ComecDECT for the heating.
Here is the link for this product:
http://avm.de/produkte/fritzdect/fritzdect-200/

There is no setting to set the temperature.

[2016-05-14 09:19] andig opened #25 "Error creating devices"
11:16:09.735 [pimatic] info: New device "thermostat"...
	11:17:43.270 [pimatic] info: New device "thermostat-temp"...
	11:18:04.453 [pimatic] info: New device "outlet"...
	11:18:20.730 [pimatic] info: New device "outlet-temp"...
	11:18:21.702 [pimatic-fritz] error: Cannot access undefined: undefined
	Unhandled rejection TypeError: Cannot read property 'celsius' of undefined
	    at /home/pi/pimati

[2016-05-14 09:28] andig commented on #24
I can confirm. Do you see this in the logfile?

[code]

[2016-05-14 09:54] andig commented on #25
Fixed via https://github.com/andig/pimatic-fritz/commit/117d77e9beaaaecdbbaf17f4e205486ef1dac9f6

[2016-05-14 09:54] #25 closed

[2016-05-14 09:57] andig commented on #24
Please upgrade pimatic-fritz to 0.4.1 and open new issue if problem still exists.

[2016-05-14 09:57] #24 closed

[2016-05-14 09:57] andig commented on #20
Please upgrade pimatic-fritz to 0.4.1 and open new issue if problem still exists.

[2016-05-14 09:57] #20 closed

[2016-05-14 10:50] Alphascrypt opened #26 "Error Object"
Nach deinem Update kommt folgender fehler:

`12:49:15.645 [pimatic-fritz] Re-establishing session at http://192.168.178.1
12:49:16.566 [pimatic-fritz] setTempTarget dacb8892da891373 109710535184 16.5
12:49:16.972 [pimatic-fritz] getTemperature dacb8892da891373 109710535184
12:49:17.330 [pimatic-fritz] Cannot access http://192.168.178.1/webservices/homeautoswitch.lua?0=0&sid=dacb8892da891373&switch

[2016-05-14 10:52] andig commented on #26
Bitte nochmal auf 0.4.3 aktualisieren. Die Abhängigkeiten waren noch nicht korrekt.

[2016-05-14 10:52] #26 closed

[2016-05-14 11:05] Man-in-Black commented on #24
Thank you very much for your effort.
I will open a new case if the problem still exists.

[2016-05-14 11:07] Man-in-Black commented on #24
Ok just tested it with the new version, the temperature ist now showing as an extra device.
Tank you very much.

[2016-05-21 13:20] n3roGit commented on #21
Same here with 06.50 from kdg

[2016-07-21 10:36] andig commented on #21
Should be fixed as of https://github.com/andig/smartfritz/commit/12915a6ffaf507e7f1de3299ca14348bb4fef62d and 0.5.1 of this library.

[2016-07-22 07:35] andig commented on #21
Lets all please move the discussion here https://github.com/andig/smartfritz/issues/5

[2016-07-26 14:47] #21 closed

[2016-10-11 09:02] svenalbert opened #28 "guiShowValvePosition always resets to 'false'"
Whether I activate 'guiShowValvePosition' in the 'Edit Device' page or in the graphical Config-Editor, the value for this variable is always reset to 'false'. Other changes I make this way remain - so my changes are accepted- all but this one.

`{
      "user": "",
      "password": "xxxx",
      "plugin": "fritz",
      "active": true
    },
...
    {
      "class": "FritzThermostat",
      "id":

[2016-10-18 08:19] andig commented on #28
Could you check if removing this line https://github.com/andig/pimatic-fritz/blob/master/fritz.coffee#L365 works for you?

[2016-10-18 08:27] svenalbert commented on #28
Later I can test it. Do I just have to edit the line or reinstall the plug-in?

[2016-10-18 08:55] andig commented on #28
Editing should be sufficient.

Viele Grüße,
Andreas

[2016-10-20 07:49] svenalbert commented on #28
Removing this line gives me `error [pimatic]: unexpected newline` an nothing is shown next to the device name in the gui.

[2016-10-20 09:30] andig commented on #28
Please put 'pass' instead of empty line.

[2016-10-20 12:20] svenalbert commented on #28
Now it looks like

and the error message is

`error [pimatic]: pass is not defined`

[2016-10-25 09:31] mwittig opened #29 "Show battery state of comet thermostat"
See https://forum.pimatic.org/topic/2362/fritz-plugin-show-battery-state-of-thermostat

[2016-10-25 09:42] andig commented on #29
Good idea. Do we have any battery widgets yet? Would probably be easier to implement those as two separate devices?

[2016-10-25 09:52] mwittig commented on #29
We don't have a generic battery template, yet, but pimatic generally supports iconified attribute values. HomeduinoRFTemperature has a percentage and low battery gauge depending on what the sensor supports.  https://github.com/pimatic/pimatic-homeduino/blob/master/homeduino.coffee#L709-L738

[2016-11-07 09:47] svenalbert commented on #28
So nothing new about this issue?

[2016-11-14 11:10] andig commented on #28
Sorry- too many other things going on right now. Would be happy to accept a tested PR.

[2016-11-15 05:51] svenalbert commented on #29
Don't know if it helps, but some weather station  from the homeduino plugin have a battery symol implemented, just to show if batter ok / not ok

something like ![this](http://fs5.directupload.net/images/161115/4ye3xlr6.png)

[2016-11-15 07:17] andig commented on #29
Sounds good. I'll see what I can do when I have some time.

[2016-11-18 19:35] andig commented on #28
Revisiting the code I've written some months ago I'm wondering what you expect by the `guiShowValvePosition`? Imho the CometDECT thermostat does not support retrieving this information and the setting should actually be removed?

[2016-11-18 20:01] andig commented on #29
@mwittig I've added a battery attribute like this plus setting it:

[code]

However it doesn't show. I'm still confused how Homeduino does ist as it does not seem to contain any UI templates itself?

[2016-11-24 11:23] andig commented on #28
ping @svenalbert

[2016-11-25 12:33] svenalbert commented on #28
sorry - was ill!
I just saw the setting and if I changed the value it wasn't saved. You are right that it should be totally removed, if the thermostat does not send a value about this - I don't know what informations are available from it.

[2016-11-25 13:02] andig commented on #28
To to get this confirmed- its on the todo list now.

[2016-11-25 14:21] #28 closed

[2016-11-25 14:21] andig commented on #28
Will be live with the next package release

[2016-11-26 20:07] thost96 opened #32 "[request] dect phone information"
Hi, maybe it would be possible to get some informations about connected dect phones like the Fritzfox C5 or the Fritzfon MT-F. I would also be nice if you can start a music stream via pimatic or make a broadcast with a message or so.

[2016-11-26 21:35] andig commented on #32
None of this is supported by the fritz api. I'd need some pointers on how to do this...

[2016-11-26 21:55] thost96 commented on #32
Okay, didn't know what the fritz api is capable of. Will have a look around, maybe this is possible. Will close this for now, if this is okay for you?

[2016-11-26 21:55] #32 closed

[2016-12-12 14:53] andig commented on #29
ping @mwittig any chance taking a quick look?

[2017-01-03 20:16] AnduriI opened #33 "add a button for WPS-push button for guest wifi"
Hey @andig,

nice plugin. I like the option to switch guest wifi on/off without going to my fritz.box webinterface. Is there also a way to initiate a WPS push button setup?
And can I hide the psk of the network?
Maybe also a counter how many devices are connected to guest wifi (if possible).

Thanks a lot,
Anduril

[2017-01-05 09:10] andig commented on #33
All of this should be possible, maybe with the exception of the wps button, but honestly it's not on my priority list. Sorry- won't fix for time being.

[2017-01-05 09:10] #33 closed

[2017-01-09 19:46] atomikx opened #34 "Cannot access http://fritz.box/webservices/homeautoswitch.lua"
Hello,

I want to controll a FrizDECT 200 switch with pimatic. After i install the fritz plugin in my pimatic v0.9.37 i get the folowing error messages in the pimatic-daemon.log:

- error [pimatic-fritz]: Cannot access http://fritz.box/webservices/homeautoswitch.lua?0=0&switchcmd=getswitchlist: undefined

- Unhandled rejection (<{"error":{"code":"ECONNRESET"},"option...>, no stack trace)

- [pimat

[2017-01-09 19:55] atomikx commented on #34
to complement my informations, here are my configuration settings (config.json):

[code]

[2017-01-09 21:05] andig commented on #34
Does the message appear only once after startup? Is there any functionality problem?

[2017-01-09 21:06] andig commented on #29
Ping @mwittig still would need some help ;)

[2017-01-09 21:43] atomikx commented on #34
These error messages appear once after startup.
But now, after playing arround with the GuestWLAN switch i see more connection Errors on the pimatic site ("_Oops... no connection_"; sometimes "_timeout_"; sometimes: "_socket error_").

In the pimatic-daemon.log i found following Messages:
`
22:31:50.245 [pimatic-fritz] error: Cannot access http://fritz.box/webservices/homeautoswitch.lua?0=0&sid=bc

[2017-01-09 22:01] andig commented on #34
Different error? If Es please open new issue wihh steps to reproduce. The first one is just the initial login and should not be harmful.

[2017-01-10 20:56] atomikx commented on #34
Okay, i made some more test.
I think there are realy two problems.

1) Error messages at pimatic start:
now i have put the plugin configuration to first position in der plugin section (config.json) -> there are no more error messages in the log file now

2) Switching on, off, on, ... the Guest WLAN-Switch show "disconnect" messages on the pimatic web-interface and log file (see above):
This happen

[2017-01-10 21:49] atomikx commented on #34
concerning to 1 i forgot to say that i must remove the guest-wlan device ("FritzWlan")in the config file. Then all error messages   are away and the AINs can get from the Fritzbox.

[2017-01-30 15:06] kayloehmann opened #35 "Toggle main WIFI"
Hi there,

wonderful plugin thanks for that!

Would it also be possible to control the main WIFI via switch? I would like to turn this off/on based on rules that would override the fritzbox wifi scheduling.

Thanks Kay.

[2017-01-31 07:57] andig commented on #35
I've not found a place in the fb ui to turn off wifi- so probably no.

Ps.: if you like it feel free to donate ;)

[2017-02-26 12:33] andig commented on #29
ping @mwittig

[2017-02-26 17:11] thost96 opened #36 "FritzWlan doesn't work"
Hi, after upgrading pimatic-fritz to version 0.5.4 today, the FritzWlan Class device doesn't display the switch and the wifi information anymore. Only the device name is shown corretly.

with version 0.5.3 it works fine.

[2017-02-26 18:06] andig commented on #36
Then it must be the difference between fritzapi 0.8 and 0.9.2. Could you check with a small test program which version introduced the breaking change for you?

[2017-02-26 18:12] andig commented on #36
Also: are you accessing your fb over https? If yes- using a "real" certificate?

Could you check if changing line 18 like this fixes the problem for you:

[code]

[2017-02-26 21:40] ikewestbrook commented on #36
same here! where do these changes need to be applied?
by the way, i get error message: error [pimatic]: unexpected newline

[2017-02-27 08:15] andig commented on #36
This would need to go to `node_modules/fritzapi/index.js`

I would need more details- and a new issue please

[2017-02-27 22:17] leader21 opened #37 "dect200 not working with 0.5.4"
i am using the dect200 only from time to time.
today i updated to 0.5.4 and now my plug doesn't work in pimatic anymore.

that's happening on pimatic start - looking strange, the plugin is not being compiled
![](http://www.youscreen.de/sgkbjkinn44.jpg)

there is no information at all about the device, it is shown in the gui but nothing else
![](http://www.youscreen.de/axspradkj21.jpg)

here's the

[2017-02-27 23:28] leader21 commented on #37
ok, got it working
created pull request https://github.com/andig/pimatic-fritz/pull/38

[2017-02-27 23:33] leader21 commented on #36
i wasn't able to switch my dect200 plug. there has been an error with the indention. the pluginwas not able to compile after the update. with the simple fix it should wok again.
check my pull request https://github.com/andig/pimatic-fritz/pull/38
and my issue andig/pimatic-fritz#37

[2017-02-28 08:14] #37 closed

[2017-02-28 08:18] andig commented on #37
Released 0.5.5- thanks for the quick fix!

[2017-02-28 08:19] andig commented on #36
Released 0.5.5. If this is not working please test the suggestion above for ssl security and let me know.

[2017-02-28 08:20] andig commented on #34
I can only imagine that switching guest wlan briefly interrupts normal wlan, too. I have really no idea though if that is the case.

[2017-02-28 17:21] thost96 commented on #36
Sorry for my delayed feedback. I'm not using https and with pimatic-fritz version 0.5.5 it's working again.

[2017-02-28 17:21] #36 closed

[2017-03-05 17:59] #35 closed

[2017-03-28 07:21] theslash opened #39 "Can't set temperature anymore"
I get the following error after restarting the Pimatic Service:

error [pimatic]: Invalid config of device " thermo-badezimmer": Property "_temperature" is not a valid property

The Temperature is shown correctly, but I'm not able to set the temperature anymore, I click on the + or - but nothing happens.
This worked until a few days ago, FritzOS was 6.60 on 7490 I updated it to 6.83 now, but it di

[2017-03-28 07:28] andig commented on #39
Did you change anything? Update pimatic etc? Anything else in the log file?

[2017-03-28 07:33] theslash commented on #39
Not that I'm aware, I updated another Plugin a few days ago.
I just deleted all the Comets and recreated one and just get:
Property "_temperature" is not a valid property

Pimatic Version is 0.9.38

[2017-03-28 07:44] theslash commented on #39
Interesting is:
when I set the temparature on the Fritzbox to a Value and then edit the Device in Pimatic it sets itself to the same temp but says "Property "_temperature" is not a valid property"

//edit:
It reads the set temp from the fritzbox after a a few minutes
When I look at the graph in Pimatic it seems to have worked until yesterday evening.

http://imgur.com/a/EF7Yl

[2017-03-28 08:02] theslash commented on #39
Ok, Its somehow related to the Browser, doesn't work in Firefox & Chrome, works in Internet Explorer...sorry for the fuzz...

[2017-03-28 16:15] mwittig commented on #39
@theslash I don't think your issue is related to the browser you're using.
Note, however, the Internet Exploder is **not** supported by pimatic!!!
Do you mean "Edge" rather than IE?

nb. the typo is on purpose

[2017-03-28 18:35] theslash commented on #39
@mwittig
I know, pimatic works with ie + edge here on my win10 machine.
On Firefox 52.0.1 I cant change the temp

[2017-03-28 18:51] theslash commented on #39
I know, pimatic works here on my win 10 machine with internet explorer and egde without problems.
Just with Firefox 52.0.2 it doesnt work

[2017-04-12 12:49] matthiasmwolf opened #40 "Property "_temperature" is not a valid property"
The plugin seems to set an invalid config property with value NULL.

![image](https://cloud.githubusercontent.com/assets/8525013/24957987/03f6d83c-1f8e-11e7-855e-460a37b6b7f6.png)

After deleting the property manually using nano over ssh on pimatics' `config.json` it is reset after restart.

It doesn't seem to provoke any misbehaviour, though.

[2017-04-12 13:02] andig commented on #40
Duplicate of https://github.com/andig/pimatic-fritz/issues/39

[2017-04-12 13:02] #40 closed

[2017-04-12 13:27] matthiasmwolf commented on #39
I have a similar [issue](https://github.com/andig/pimatic-fritz/issues/40), but setting the temperature works in my setup.

[2017-04-12 13:36] andig commented on #39
Could you try deleting these lines https://github.com/andig/pimatic-fritz/blame/cf8fd64e25139a252c2ea85bee918fcdc653422d/fritz.coffee#L362-L365, remove the additional config setting and see if it works then?

I believe that potentially https://github.com/andig/pimatic-fritz/commit/500fbd95676de33448e27448f4136bcde4651b86 was an invalid fix.

[2017-04-12 14:12] matthiasmwolf commented on #39
When deleting lines 362-365 (including the `customConfig:` keyword) the plugin doesn't seem to work anymore.

![image](https://cloud.githubusercontent.com/assets/8525013/24962032/ee8d48f2-1f9a-11e7-9f4e-2c33df36f7e3.png)

However, at first I only deleted lines 363-365. The plugin worked, I didn't get a warning, still the key-value-pair `"_temperature": NULL` showed up.

[2017-04-12 14:45] mwittig commented on #39
Yes, and it still looks wrong to me! I think there is still one extra space which should be removed. _temperature should be on the same indentation level as customConfig. You can also remove _temperature if you change the getter as follows:
[code]

[2017-06-21 08:00] andig commented on #39
That would basically revert back to the state the code was in when the issue was opened. Not running pimatic right now I'm lost.

[2017-06-21 13:35] andig commented on #39
@theslash @matthiasmwolf could you kindly check if this finally solves it https://github.com/andig/pimatic-fritz/pull/41 ?

[2017-06-22 13:08] #39 closed

[2017-11-15 18:24] danieltrapp opened #42 "Open window status"
Hi, is it possible to add a variable to check if the thermostat detect a open window?

[2017-11-15 18:54] andig commented on #42
Could you give an example, i.e. show the output of getDevice for a thermostat that has detected an open window?

[2017-11-15 19:32] delta2308151984 commented on #42
I would like to add a rule in pimatic like: when thermostat detect open window then ...
is there a way that you can add a $thermostat123.windowOpen variable?

[2017-11-15 20:00] andig commented on #42
I need the actual json output of getDevice for an open window. Check the fritzapi module.

Viele Grüße,
Andreas

[2017-11-15 20:19] delta2308151984 commented on #42
Hi, ich weiss leider nicht, was du meinst. Das überschreitet leider meine Pimatic Kenntnisse.
Vielleicht habe ich auch nicht gut erklärt, was ich eigentlich meinte.

Ich habe in Pimatic ein Fritz Dect 301. Der stellt mir ja 3 Variablen zur verfügung. Temperature, TemperatureSetPoint und synced.
Das Thermostat hat ja die Funktion, dass es ein offenes Fenster erkennt und automatisch schliesst.
Ist e

[2017-11-15 20:28] andig commented on #42
Ich weiss was Du meinst- nur hat Avm leider nicht dokumentiert wie man ein offenes Fenster erkennt, das müsste deshalb mit ein wenig Programmierung ausgetestet werden...

Viele Grüße,
Andreas

[2017-11-15 20:38] delta2308151984 commented on #42
Hmmm, ok. Wo finde ich denn den json output den du benötigst,oder kann ihn mir anzeigen lassen?

[2017-11-15 22:52] andig commented on #42
Du könntest mal das hier starten: https://github.com/andig/fritzapi/blob/master/example.js

[2017-11-16 16:47] delta2308151984 commented on #42
Hier der Auszug aus der example.js

Switches: 087610355566

[087610355566] Waschmaschine
[087610355566] presence: true
[087610355566] state: true
[087610355566] temp: 16°C

Thermostats: 099950013169

[099950013169] Heizung Bad
[099950013169] temp 21.5°C°C
[099950013169] target temp 22°C°C

Raw devices

[ { identifier: '087610355566',
    id: '16',
    functionbitmask: '2944',
    fwversion: '03.87

[2017-11-16 17:03] andig commented on #42
Das ist gut, nur ist im Block für den 301 nirgendwo zu erkennen dass ein Fenster offen wäre. Falls das der Testfall war ist es leider nicht sichtbar?

[2017-11-16 17:16] delta2308151984 commented on #42
Ich habe extra den Fenster offen Knopf am Thermostat manuell betätigt. In der Fritzbox wird dann auch ein Schneeflocken Symbol eingeblendet. Aber im output kann ich auch nichts davon sehen.
Schade, dann überträgt er diese Info wohl nicht.

[2017-11-16 20:16] andig commented on #42
Kannst Du mir das Html der FB Oberfläche exportieren?

Viele Grüße,
Andreas

[2017-11-16 20:29] delta2308151984 commented on #42
[FRITZ!Box 7490.html.zip](https://github.com/andig/pimatic-fritz/files/1480139/FRITZ.Box.7490.html.zip)

[2017-11-16 20:35] danieltrapp commented on #42
Hier nochmal mit Firefox exportiert.

[FRITZ!Box 7490 firefox.html.zip](https://github.com/andig/pimatic-fritz/files/1480163/FRITZ.Box.7490.firefox.html.zip)

[2017-11-16 20:37] delta2308151984 commented on #42
Hier nochmal mit Firefox exportiert.

[FRITZ!Box 7490 firefox.html.zip](https://github.com/andig/pimatic-fritz/files/1480167/FRITZ.Box.7490.firefox.html.zip)

[2017-11-17 10:01] andig commented on #42
Danke, das hilft schonmal. Ich schaue ob da was möglich ist...

[2017-11-17 10:51] andig commented on #42
Schau mal ob die Funktion für Dich funktioniert:

    module.exports.getWindowOpenState = function(sid, ain, options)
    {
        var req = {
            method: 'POST',
            form: {
                sid: sid,
                xhr: 1,
                no_sidrenew: '',
                page: 'sh',
            }
        };

        return Promise.join(
            module.exports.getDevice(sid,

[2017-11-17 13:57] delta2308151984 commented on #42
Vielen Dank für deine Mühe. Ich habe das jetzt in ~/pimatic-app/node_modules/pimatic-fritz/node_modules/fritzapi/index.js eingebaut, aber so wirklich klappt das nicht.
Sorry, wahrscheinlich stell ich mich einfach zu blöd an ;-)

[2017-11-17 17:07] andig commented on #42
Das ist nur erstmal die Basisfunktion. Die kannst Du mal anrufen um zu schauen ob sie Dein Fenster richtig detektiert, nicht mehr und nicht weniger. An pimatic kommt da erstmal noch gar nix an...

[2017-11-17 17:08] andig commented on #34
Closing due to inactivity

[2017-11-17 17:08] #34 closed

[2017-11-17 20:40] delta2308151984 commented on #42
Ich habe jetzt den ganzen Tag versucht, dein Code sinnvoll einzubauen. Aber weder in der index.js oder in der example.js konnte ich ihn aufrufen. Ohne Java Kenntnisse, ist das leider nicht so einfach.
Falls du noch Lust und Zeit hast, mir da weiter zu helfen wäre das super. Wenn nicht, könnt ichs auch verstehen ;-)

[2017-11-18 10:07] andig commented on #42
Wir kriegen das zusammen hin. Ich dachte an sowas banales wie Du schonmal getestet hattest:

    var fritz = require('./index.js');

    var options = {
        "url": "http://fritz.box"
    };

    var username = "xx";
    var password = "xx";

    fritz.getSessionID(username, password, options).then(function(sid) {
        console.log("SID: " + sid);

        fritz.getWindowOpenState(sid, "09995

[2017-11-18 11:18] delta2308151984 commented on #42
Danke!
Da bekomm ich immer folgende Meldung:

SID: 0faeb68a2825077c
[TypeError: fritz.getWindowOpenState is not a function]

[2017-11-18 11:50] andig commented on #42
Ok. Und hast Du die Funktion auch die die verwendete index.js Datei mit eingebaut?

[2017-11-18 12:05] delta2308151984 commented on #42
Sorry, mein Fehler ;-)
Hab die Identifikationsnummer angepasst, aber bekomme:

SID: 762e61f995983695
false

[2017-11-18 12:47] andig commented on #42
In dem Moment wo das Fenster offen ist und die FB Dir das auch anzeigt? Hast Du ncohmal einen Screenshot der FB Oberfläche (cpuidle@gmx.de)?

[2017-11-18 13:47] danieltrapp commented on #42
Ja, habe es zur gleichen Zeit ausgeführt, als es inder FB angezeigt wird.

![fritzbox](https://user-images.githubusercontent.com/25320876/32980899-22adb528-cc6f-11e7-9a25-f9c8f17afba9.png)

[2017-11-18 14:35] andig commented on #42
Das ist... schlecht. Wenn Du Dich traust bzw. mir vertraust kann Du mir per Mail Logindaten für Deine FB schicken dann könnte ich's testen.

[2017-11-19 10:04] danieltrapp commented on #42
An welche Mailadresse soll ich sie dir schicken?

[2017-11-19 10:34] andig commented on #42
cpuidle@gmx.de

[2017-11-19 18:00] andig commented on #42
@danieltrapp danke für die Hilfe. `fritzapi 0.10.1` hat jetzt die notwendige `getWindowOpen` Funktion. Es wird allerdings noch ein wenig dauern bis ich pimatic aktualisieren werde.

[2017-11-19 18:04] delta2308151984 commented on #42
Super, vielen Dank!

[2018-02-17 19:22] Clark2309 opened #43 "Fritzbox stats"
Hi,
is it possible to show more stats of the fritz box like dsl connection upload and download rates?
br
christof

[2018-02-18 13:50] andig commented on #43
There's no API for that so you'd need to rely on screen scraping. See fritzapi battery charge for an example how to. Would be happy to take a PR.

[2018-02-20 08:09] mwittig commented on #43
Fritzbox provides some statistics via uPnP. Maybe you can use "UPnP to MQTT" mapper ([upnp-sub-mqtt](https://github.com/bazwilliams/upnp-sub-mqtt) might do here) to expose the service attributes to pimatic.

http://fritz.box:49000/igddesc.xml
http://fritz.box:49000/igdconnSCPD.xml
http://fritz.box:49000/igdicfgSCPD.xml
http://fritz.box:49000/igddslSCPD.xml
http://fritz.box:49000/igd2ipv6fwcSCPD.xm

[2018-04-03 12:11] mwittig opened #44 "[Request] Support DECT ULE Sensors from other vendors"
Apparently, it is possible to integrate DECT ULE sensors from other vendors, like the Telekom Door sensor, with the Fritz!Box Smart Home solution. Is it possible to provide support for this as part of the plugin?

https://www.digitalzimmer.de/artikel/test/fritzbox-akzeptiert-han-fun-sensoren-anderer-hersteller/

See also: https://forum.pimatic.org/topic/4272/optical-door-window-sensor

[2018-04-03 14:15] andig commented on #44
Glad to add to fritzapi and this plugin, but would need a device for testing.

@mwittig tried to contact you numerous times regarding https://github.com/andig/pimatic-fritz/issues/29. It's kinda stale now but still open?

[2018-04-04 06:32] dasmaetthes commented on #44
@andig How could I support you with testing? I want to buy some optical window sensor

[2018-04-09 10:42] xG3n1uS commented on #44
I've bought the Optical Window/Door Sensor from Telekom Magenta Smarthome two weeks ago.

I could connect it successfully to my FritzBox 7490 with FRITZ!OS 6.93

If I do a http-request to the FritzBox with the AHA-Interface I get the following XML-Response for the sensor.

If the sensor is opened the alert state changes to 1.

	<device identifier="11934 0095280-1" id="2000" functionbitmask="8208"

[2018-04-09 16:13] andig commented on #44
I‘ve got homekit support working (https://github.com/andig/homebridge-fritz), pimatic to follow.

[2018-04-14 16:08] andig commented on #44
@mwittig is there any way to get in contact with you? my GH comments seem to get lost :(

[2018-04-14 16:11] andig commented on #42
@danieltrapp schau mal bitte hier: https://github.com/andig/pimatic-fritz/pull/45 (ungetestet). Sollte mit jeden Gerät inkl. HAN FUN funktionieren das einen alarm state zurück gibt.

[2018-04-21 14:11] andig commented on #44
The contact sensor PR should be ready for testing now. Ping @dasmaetthes @xG3n1uS @mwittig

[2018-04-25 20:02] xG3n1uS commented on #44
![screenshot_20180425-215805](https://user-images.githubusercontent.com/38210769/39269900-80d73066-48d4-11e8-828b-69961c80efd4.jpg)
I've installed the new version. Plugin detects the contact sensor, but in the events it always show me opened. No matter it's closed or open.

[2018-04-25 20:11] andig commented on #44
What sensor model is that- Telekom? Could you log the variable that geta passed to setContact?

[2018-04-25 20:24] xG3n1uS commented on #44
It's from Telekom.

How can I log the variable?

[2018-04-25 20:32] xG3n1uS commented on #44
Found it.
When closed
![20180425_222940](https://user-images.githubusercontent.com/38210769/39271137-6a559d88-48d8-11e8-86e7-caa7d67e5838.png)

when opened
![screenshot_20180425-223022](https://user-images.githubusercontent.com/38210769/39271146-743534da-48d8-11e8-9b1d-1349df1a78e6.jpg)

[2018-04-25 20:39] xG3n1uS commented on #44
In Graph-page the attribute changes, but it's inverse.

In example below the contact is open, variable is 1, but last state in Graph is closed
![screenshot_20180425-223601](https://user-images.githubusercontent.com/38210769/39271471-72a9dbec-48d9-11e8-8971-64d943474e2b.jpg)

[2018-04-26 09:38] andig commented on #44
Oh, seems pimatic is interpreting the other way round. Can you simply try inverting the value in line 534:

            @_setContact(1-devices[0].alert.state)

[2018-05-01 07:48] xG3n1uS commented on #44
In Graph it's correct now.

[2018-05-01 10:25] andig commented on #44
Published as 0.6.6, please upgrade.

[2018-05-01 10:25] andig commented on #42
Mit 0.6.6 implementiert.

[2018-05-01 10:25] #42 closed

[2018-05-04 11:17] xG3n1uS commented on #44
So only problem left is, that the label is always shown as **opened** on the Pages. How can this be fixed?

![grafik](https://user-images.githubusercontent.com/38210769/39625214-c7411e08-4f9c-11e8-8074-eedf02694339.png)

Is it possile to get the Option xClosedLabel and xOpenedLabel so it's possible to set own labels (in German for instance).

![grafik](https://user-images.githubusercontent.com/382

[2018-05-04 14:55] andig commented on #44
I'm a bit confused. That sounds more like a problem of the Pimatic contact sensor than of this extension? If the chart is right then so should be the label display.

Wouldn't it make sense to open an issue with pimatic or discuss in the forums instead of fixing here?

[2018-05-04 18:01] xG3n1uS commented on #44
I'm also using the contact sensor from the Homeduino plugin and there it works. That's why I thought it's related to Fritz plugin.

[2018-05-15 06:59] Wolfpaxx opened #46 "[Request] Improve polling performance"
andig, your plugin is great - but I'm running it to the limits.
With too many devices, the polling tasks are stacking up and switch commands are executed hours later.
My problem in detail: https://forum.pimatic.org/topic/4318/fritz-plugin-performance-and-integration-of-contact-devices

Can you check other ways to improve the polling performance and support more devices at a higher polling rate?

I

[2018-05-15 08:14] andig commented on #46
Interesting request :) Thanks for pushing this plugin to the limits!

I understand AVM is looking into better smarthome support. At the time being though, the API is naive, i.e. requires clients to use longpolling. The fritzapi approach to that has been to use the official APIs where available and fallback to XML API or screen scraping where not.

While the regular APIs support a single device at

[2018-05-15 11:35] Wolfpaxx commented on #46
Thank you for your quick reply!
So, if I understand you right, it could be possible to switch the API, but you're currently not planning it due it will be a lot of work an will make your plugin less flexible? Totally understandable!
I'm currently running a FritzBox 7490. So you guess switching to a 7590 could give me a performance boost?!
Lowering the polling intervalls is what I'm currently consi

[2018-05-15 13:02] andig commented on #46
I have a 6590 and it *rocks*

A better approach would be a websocket server on side of FritzBox- low overhead and scales well. If you want send an inquiry to AVM, it might help to get more requests than just from the usual suspects.

[2018-05-23 19:10] xG3n1uS commented on #44
Maybe the contact attribute must be true or false not 1 or 0 for pimatic.

[2018-05-24 09:29] andig commented on #44
@xG3n1uS did you discuss this in the pimatic forums?

[2018-06-13 13:14] Wolfpaxx commented on #46
Finally feedback from my side:
I switched to a 7590 and the performance boost is outstanding! I also encountered that switching operations are more quickly done. Now there is almost no delay between acitvating an Amazon Dash Button and the Fritz outlet switching. So for everyone with the same problem: a hardware upgrade will do the trick! :-)

[2018-06-13 13:15] #46 closed

[2018-10-18 08:35] n3roGit opened #47 "Guest wlan with version 7"
The guest wlan is changed in fritz version 7.
We need some improvement here to use it again

[2018-10-18 09:50] andig commented on #47
With so little information I can only guess. Do you mean https://github.com/andig/homebridge-fritz/issues/49? That‘s an issue in the current firmware that AVM is working on.

[2018-10-21 00:11] n3roGit commented on #47
Yes I think so

[2018-10-26 10:01] dasmaetthes opened #48 "Presence from Connected WLAN devices"

[2018-11-27 19:04] danieltrapp opened #49 "FritzOS7 und Fritz Dect 200 timeout"
Hi, FritzDect200 Schalter lassen sich nicht schalten. Bekomme ein timeout Fehler.
Wenn ich die Schalter mit der MyFritz App Schalte, wird der Zustand in pimatic auch geändert.

Edit: Der Schalter wird erst nach über 3 Minuten Verzögerung geschaltet.

Ich hab ich den Plugin und Schalter Einstellungen Polling auf 5 stehen. Eine Änderung des Wertes hilft auch nicht.

[2018-11-27 19:25] andig commented on #49
Gleiche Frage wie immer- debug log?

[2018-11-27 19:44] delta2308151984 commented on #49
Es wird nichts als debug log geschrieben. Habe nur info, warn und error messages.
Das sind die error Meldungen:

error [pimatic-tradfri]: Observe device esstisch-dummy error: tradfri hub doesn't have configured this device
20:38:55error [pimatic]: Could not parse rule "when $tradfri_65543.dimlevel < 2 then turn Sofa off": Could not find an provider that decides next predicate of "$tradfri_65543.di

[2018-11-27 21:00] delta2308151984 commented on #49
Sorry, lag an meiner Installation. Hab Pimatic gelöscht, und alle Plugins neu installiert. Jetzt läufts.

[2018-11-27 21:00] #49 closed

[2019-03-21 10:34] mwittig opened #50 "Controlling AVM Fritz Powerline 546e"
I am opening this issue as you have not been online on Pimatic for some time. Can you please have a look at the following topic?

"...
I tried to connect my 4 546e devices to pimatic, with no luck :(
The Dect200 device works perfect…
..."

https://forum.pimatic.org/topic/4577/controlling-avm-fritz-powerline-546e

[2019-03-21 11:02] andig commented on #50
OT @mwittig did you ever see my repeated battery questions in https://github.com/andig/pimatic-fritz/issues/29? I would really appreciate if this would be a two-sided exchange!

[2019-03-21 12:11] mwittig commented on #50
Sorry, this one was not on my radar anymore.  I'll have a look at this asap.

[2019-03-21 13:38] andig commented on #44
Closing due to missing updates.

[2019-03-21 13:38] #44 closed

[2019-03-21 13:39] andig commented on #47
This should be fixed by updating to a later fritzOS

[2019-03-21 13:39] #47 closed

[2019-04-11 11:44] Wolfpaxx opened #53 "[Feature Request] Multi-FritzBox-Support"
Hi andig,

with the mesh-support, I came across a new problem:
Normally, smarthome devices status should be sent across different FritzBoxes to the master box. However this does not apply for HAN-FUN-Devices.
In my case, the Telekom SmartHome Smoke Detectors are connected to a mesh slave FritzBox due to signal range issues. The device itself is forwarded to the mesh master, but not the detector st

[2019-04-11 15:30] andig commented on #53
First of all I don't have such a setup. I'm using an FB plus a 1750 als Wifi range extender. Therefore I'm not sure how that would even look UI-wise or if there's any kind of API. To get a better understanding you could pm me (cpuidle@gmx.de) and provide access credentials to such a setup.

Then I'm really not sure what that capability should include- could you be more specific?

This sounds a lot

[2019-04-12 11:36] Wolfpaxx commented on #53
Hi andig,
thank you for your quick reply!
I will try to gather some information and screenshots and make a litte drawing (please don't expect it before next week).
Is it OK if I write it in German (I assume you're German)?!

To be short on the capability: A possibility to add a second (or more) FritzBox-Host (URL & Credentials) in the config which is also polled and usable - just like the first on

[2019-04-12 11:53] andig commented on #53
Moin- deutsch ist kein Problem.

Hast Du schonmal probiert einfach die komplette Config zu doppeln? Ggf. kann ja die "platform" auch 2x angegeben werden- habe ich aber noch nciht getestet.

Würde mit dem Vorschlag ja passen.

[2019-04-12 13:55] andig commented on #53
/cc @mwittig siehst Du eine Möglichkeit das mehrfache Laden von Plugins in Pimatic zu erlauben? Das würde hier erlauben ein Plugin je vorhandener Fritzbox zu starten.

[2019-04-14 13:06] mwittig commented on #53
Hallo Andreas. Nein, das mehrfache Laden von Plugins in Pimatic ist derzeit nicht möglich und auch nicht ganz einfach zu realisieren.

Willst Du generell beliebige Multi-Fritzbox Szenarien unterstützen, oder geht es hauptsächlich um den hier vorliegenden Fall (Mesh-Setup). Siehe dazu auch meine Erläuterungen zu "Support multiple AVRs?"

[2019-04-15 05:53] andig commented on #53
Referenz: https://github.com/mwittig/pimatic-yamaha-avr/issues/13

[2019-04-17 05:53] andig commented on #53
@mwittig mir geht es jetzt noch um den allgemeinen Fall. Mehrere Fritzboxen ist vielleicht etwas ungewöhnlich. Mehrere Receiver kann ich mir durchaus eher vorstellen, bestimmt gibt es auch noch andere Fälle. Ich habe daher die Diskussion im Denon Repo bzgl. mehrfachem Laden mal aufgelassen.

[2020-03-15 10:08] mwld opened #55 "Fritz!DECT 200 current"
Hi there,

just a quick question which I could not find an answer for yet:

Does pimatic-fritz allow reading the current from Fritz DECT 200 devices?

Background: I am using it for measuring the performance of my solar system. And it would be great if I could trigger certain actions based on the delivered currency.

Thanks in advance.

[2020-07-02 15:57] emeins opened #56 "Polling intervall for FritzThermostat & FritzTemperatureSensor"
Hi,

I am wondering how to word with the polling intervall for FritzThermostat & FritzTemperatureSensor.

If I let it on 0 (=default) is it set to the plug-in interval or something else?
![image](https://user-images.githubusercontent.com/17033201/86380948-03e56f80-bc8d-11ea-99ed-4d4c3dca7b51.png)

Is the interval only relevant for the communication between pimatic and the fritzbox or is the thermo